.new-transfer-container {
    form {
        width: 30vw;

        input {
            width: 45%;
        }

        label {
            padding-bottom: 1rem;
        }

        .search-label {
            justify-content: space-between;
            
            input {
                width: 45%;
                margin: 0;
            }
        }

        .search-heading {
            text-transform: uppercase;
            font-size: 0.75rem;
            font-weight: 500;
        }

        table {
            width: 60vw;
            position: relative;
            right: 40%;
            margin-bottom: 2rem;

            .select-col {
                width: 2rem;
                padding-right: 2rem;
            }
        }

        li {
            list-style-type: none;
            text-align: left;
        }
    }
}

.requests-table {
    width: 70vw;

    button {
        font-size: .75rem;
        margin-left: 1rem;
    }

    .rejected-status {
        color: red;
    }

    .action-check {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: .75rem;

        label {
            margin-top: 1rem;
        }

        button {
            width: fit-content;
            margin: .5rem auto;
        }
    }

}

.transfers-pop-up {
    height: 50%;

    .transfers-pop-up-body {
        padding-top: 2rem;

        label {
            display: block;

            input {
                width: 100%;
                padding: .25rem;
                margin-top: .5rem;
            }
        }
    }

    .searchable-dropdown {
        padding: 2rem;
        width: 40%;
        margin: 0 auto;
    }

    .error-message {
        margin: 0.5rem 0 0;
    }
}