@use "../../styles/constants";

.collection-options-container {
    display: flex;
    justify-content: center;

    .collection-form-container {
        width: 440px;
    }
}

.collections-table {
    width: 70%;

    .delete-column {
        text-align: center;
    }
}

.collection-form {
    width: 25vw;

    .form-buttons-container {
        display: flex;
    }

    label {
        margin: 1rem;
    }

    input {
        width: 50%;
    }

    button {
        margin: 0.75rem auto;
    }
}