@use "../../styles/constants";

.collection-options-container {
    display: flex;
    justify-content: center;

    .collection-form-container {
        width: 440px;
    }
}

.collapsible-container {
    width: 80vw;
    margin: 0 auto;
}

.collapsible-header {
    button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80vw;
        margin-left: 0;
    }
}

.collapsible-body {
    max-height: 60vh;
    overflow-y: scroll;

    .table-container {
        padding-bottom: 2rem;

        select {
            margin-left: 2rem;
        }

        table {
            width:100%;
        }

        .select-col {
            width: 2rem;
        }

        .message {
            margin-top: 2rem;
        }

        .buttons-container {
            display: flex;
            justify-content: center;

            button {
                margin-bottom: 0;
            }
        }
    }

    
}

.collection-form {
    width: 25vw;

    .form-buttons-container {
        display: flex;
    }

    label {
        margin: 1rem;
    }

    input {
        width: 50%;
    }

    button {
        margin: 0.75rem auto;
    }
}