@use "./styles/constants";

:root {
  font-family: constants.$font;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: light-dark(#213547, rgba(255, 255, 255, 0.87));
  background-color: light-dark(constants.$color-background-light, constants.$color-background-dark);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

textarea {
  font-family: constants.$font;
}

.page {
  padding: 2rem 0;
}

a {
  font-weight: 500;
  color: light-dark(#213547, rgba(255, 255, 255, 0.87));
  text-decoration: inherit;
}

.login-message-link {
  color: constants.$color-primary;
}

.login-message-link:hover {
  color: constants.$color-pink;
}

a:hover {
  color: constants.$color-primary;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
}

h1 {
  font-size: 2em;
  text-transform: uppercase;
  line-height: 1.1;
  font-weight: 800;
}

h1,
h2,
h3 {
  margin-top: 0;
}

.no-margin-button {
  margin: 0;
}

button,
.button-link {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: light-dark(constants.$color-background-light-darker, #1a1a1a);
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 1.25rem;
}

button:hover,
.button-link:hover {
  color: constants.$color-primary;
  border-color: constants.$color-primary;
}

button:focus,
button:focus-visible,
.button-link:focus,
.button-link:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#add-book:hover,
.green-button:hover {
  border-color: constants.$color-green;
  color: constants.$color-green;
}

.red-button:hover {
  border-color: red;
  color: red;
}

form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  label {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  label:focus-within {
    font-weight: bold;
  }
}

table {
  table-layout: fixed;
  margin: 0 auto;
  text-align: left;

  th {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.75rem;
  }

  th,
  td {
    padding: .5rem 0 .5rem 2rem;
  }
}

table,
th,
tr {
  border-bottom: constants.$border;
  border-collapse: collapse;
}

.tag {
    background-color: constants.$color-background-light-darker;
    color: constants.$color-background-dark;
    border-radius: 1rem;
    padding: .25rem;
    margin: .25rem;
    font-size: .75rem;
}

.border-spaced-bottom {
  border-bottom: constants.$border;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}