@use "../../styles/constants";

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: sticky;
  top: 0;
  z-index: 1;
  min-width: 100vw;
  background-color: light-dark(constants.$color-background-light, constants.$color-background-dark);
  padding: 2rem 0;
  height: constants.$nav-height;
  border-bottom: constants.$border;

  a.nav-link {
    text-transform: uppercase;
    font-weight: 600;
  }
}

.nav-link.active {
  color: constants.$color-primary;
}

.add-link.active,
.add-link:hover {
  color: constants.$color-green;
}

.login-link.active,
.login-link:hover {
  color: constants.$color-pink;
}