@use "../../styles/constants";

.add-book-form {
    width: 30vw;

    label {
        padding: 8px 0;
        text-transform: uppercase;
        font-size: .75rem;
        font-weight: 500;
    }

    label.read-label {
        text-transform: none;
        font-size: 1rem;
        font-weight: 400;
    }

    input,
    textarea {
        width: 50%;
    }

    .radio-options {
        display: flex;
    }

    button:hover {
        border-color: constants.$color-green;
        color: constants.$color-green;
    }
}