@use "../../styles/constants";

.footer {
    background-color: light-dark(constants.$color-background-dark, constants.$color-background-light);
    color: light-dark(constants.$color-background-light, constants.$color-background-dark);
    width: 100vw;

    p {
        text-transform: uppercase;
        font-weight: 600;
        padding: 1.5rem;
        margin: 0 auto;
    }
}