@use "../../styles/constants.scss";

.stats-highlights {
    display: flex;
    justify-content: space-around;
    padding-left: 0;

    li {
        list-style: none;
        display: flex;
        flex-direction: column;
        text-transform: uppercase;
        font-size: 1rem;
        text-align: center;
    }

    .stat-number {
        font-weight: bold;
        font-size: 1.75rem;
    }
}

ul.stats-highlights {
    margin: 0;
}

.bar-charts-container {
    display: flex;
    padding-left: 2rem;
    padding-right: 3rem;
}