@use "../../styles/constants";

.catalogue-options-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;

    label {
        padding: 0 2rem;
    }

    select {
        margin: 0.5rem 1rem 0.5rem 0.5rem;
    }
}

.marked-read {
    background-color: light-dark(constants.$color-green, constants.$color-green-opaque);
    font-weight: 500;
}

.library-view-table button {
    margin: 0.25rem;
    padding: 0.25rem;
    font-size: .75rem;
}

.library-view-table {
    width: 100vw;
    padding: 1rem;
    border-radius: 1rem;

    .clickable:hover {
        cursor: pointer;
    }
}

.library-view-table {
    .pub-year {
        width: 6rem;
    }

    .language {
        width: 7rem;
    }

    .collection {
        width: 9rem;
    }

    .actions {
        width: 6rem;
        padding-left: 0;
        text-align: center;
    }

    th.actions.details,
    td.actions.details {
        width: 5rem;
        padding-right: 1.5rem;
    }
}

.pop-up {
    position: fixed;

    left: 20%;
    top: 15%;

    width: 60%;
    max-height: 80%;
    overflow-y: scroll;

    border: 1px solid grey;
    border-radius: 1em;
    box-shadow: -2px 5px 5px grey;

    background-color: light-dark(constants.$color-background-light, constants.$color-background-dark);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .close-button {
        position: absolute;
        right: 0;
        padding: .5rem 1rem;
        margin: .5rem;
    }

    table {
        margin: 1rem auto;
        text-align: left;
        width: 100%;

        .input-td {
            display: flex;
            flex-direction: column;
        }
        
        .input-td-read {
            display: flex;
        }

        .first-col {
            width: 10rem;
            text-transform: uppercase;
            font-size: .75rem;
            font-weight: 500;
        }

        tr {
            height: 2.5rem;
            border-bottom: solid grey;
        }
    }

    input,
    textarea {
        width: 50%;
    }

    input.publication-year {
        width: 4rem;
    }

    input.read-radio {
        width: 2rem;
    }

    span.input-tip {
        display: none;
        font-size: .75rem;
        padding-top: .5rem;
    }

    input:focus+.input-tip {
        display: block;
    }

    .update-details-error {
        font-size: .75rem;
        margin-top: .5rem;
    }

    .actions-container {
        display: flex;
        justify-content: center;
    }
}