@use "../../styles/constants";

.catalogue-options-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    margin: 0 auto;
    border-bottom: constants.$border;
    margin-bottom: 2rem;
    padding-bottom: 2rem;

    label {
        padding: 0 2rem;
    }
    select {
        margin: 0.5rem 1rem 0.5rem 0.5rem;
    }
}

.marked-read {
    background-color: constants.$color-green;
    font-weight: 500;
}

.library-view-table button {
    margin: 0.25rem;
    padding: 0.25rem;
    font-size: .75rem;
}

.library-view-table {
    width: 100vw;
    padding: 1rem;
    border-radius: 1rem;

    .clickable:hover {
        cursor: pointer;
    }
}

.catalogue-and-nav-container {
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: constants.$border;
}

.library-view-table {
    text-align: left;

    .pub-year {
        width: 6rem;
    }

    .language {
        width: 7rem;
    }

    .collection {
        width: 9rem;
    }

    .actions {
        width: 6rem;
        padding-left: 0;
        text-align: center;
    }

    th.actions.details {
        width: 5rem;
    }
}

.PopUp {
    position: fixed;
    
    left: 20%;
    top: 15%;

    width: 60%;
    max-height: 80%;
    overflow-y: scroll;

    border: 1px solid grey;
    border-radius: 1em;
    box-shadow: -2px 5px 5px grey;

    background-color: light-dark(constants.$color-background-light, constants.$color-background-dark);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .close-button {
        position: absolute;
        right: 0;
    }

    table {
        margin: 2rem auto;
        text-align: left;
        width: 100%;
        
        .first-col {
            width: 10rem;
            text-transform: uppercase;
            font-size: .75rem;
            font-weight: 500;
        }
        tr {
            height: 2.5rem;
            border-bottom: solid grey;
        }
    }

    input,
    textarea {
        width: 50%;
    }

    input.publication-year {
        width: 4rem;
    }

    input.read-radio {
        width: 2rem;
    }

    .input-tip {
        font-size: .75rem;
        padding-left: 2rem;
    }

    .actions-container {
        display: flex;
        justify-content: center;
    }
}