$color-background-light: white;
$color-background-light-darker: #f9f9f9;
$color-background-dark: #242424;
$color-background-darker: #1a1a1a;
$color-primary: #2079DF;
$color-secondary: #70A9EB;
$color-secondary-opaque: #70A9EB90;

$color-green: #86ED3F;
$color-green-opaque: #86ED3F90;
$color-orange: #F4B453;
$color-pink: #F453E3;
$color-blue: #5393F4;

$border: 1px solid light-dark(#242424, white);

$font: 'Schibsted Grotesk', Avenir, Arial, Helvetica, sans-serif;