$color-background-light: white;
$color-background-light-darker: #f9f9f9;
$color-background-dark: #242424;
$color-background-darker: #1a1a1a;
$color-primary: #2079DF;
$color-secondary: #70A9EB;
$color-secondary-opaque: #70A9EB90;
$color-green: #79DF20;
$color-pink: #DF2079;

$font: 'Schibsted Grotesk', Avenir, Arial, Helvetica, sans-serif;